.butFrame:hover {
    box-shadow: 0 8px 20px rgba(203, 25, 62, 1);
    border: 2px solid #cb2d3e;
}

.butFrame:hover,
.butFrame:active {
    animation: bounce 0.6s ease;
    -webkit-animation: bounce 0.6s ease;
}

@keyframes bounce {
    0% {
        top: 0px;
    }
    25% {
        top: -10px;
    }
    50% {
        top: 5px;
    }
    75% {
        top: -5px;
    }
    100% {
        top: 0px;
    }
}

@-webkit-keyframes bounce {
    0% {
        top: 0px;
    }
    25% {
        top: -10px;
    }
    50% {
        top: 5px;
    }
    75% {
        top: -5px;
    }
    100% {
        top: 0px;
    }
}

/* MEDIA QUERIES */

@media all and (max-width: 950px) and (min-width: 701px) {

    .butFrame {
        display: block;
        -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
        flex: 1 50%;
    }

}

@media all and (max-width: 700px) and (min-width: 0px) {

    .butFrame {
        display: block;
        -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
        flex: 1 100%;
    }

}

.section-heading span {
    color: #cb2d3e;
}

.section-heading {
	font-size: 28px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight: 400;
	display: inline-block;
	position: relative;
	color: white;
	text-transform: uppercase;
    letter-spacing: 6px;
}
.section-heading:after,
.section-heading:before {
	content: '';
	position: absolute;
	bottom: 0;
    margin-bottom: 2px;
    margin-left: -1.3em;
}
.section-heading:after {
	height: 2px;
	background-color: #cb2d3e;
	left: 25%;
	right: 25%;
    width: 7em;
}

.section-heading:before {
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	background-color: black;
	left: 64%;
	transform: translatex(-50%);
	bottom: -6px;
	z-index: 9;
	border-radius: 50%;

}
.portfolio-item {
    margin-top: 2em;
}