<link rel="stylesheet" href="/static/css/contact.css">

<div id="contact">
    <h2 class="section-header-1">CONTA<span>CT ME</span></h2>

    <div class="contact-wrapper">

        <div class="row">
            <div class="direct-contact-container">

                <ul class="contact-list">
                    <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Colombo | Sri Lanka</span></i>
                    </li>

                    <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                            href="tel:+94 71 620 6882" title="Give me a call">+94 71 620 6882</a></span></i></li>

                    <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a
                            href="mailto:#" title="Send me an email">asiriamalk@gmail.com</a></span></i></li>

                </ul>
            </div>
            <div class="direct-contact-container-1">
                <hr>
                <ul class="social-media-list">

                    <li><a href="https://www.linkedin.com/in/asiriamal" target="_blank" class="contact-icon">
                        <i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li><a href="https://api.whatsapp.com/send?phone=0094716206882&text=" target="_blank"
                           class="contact-icon">
                        <i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://github.com/asiriamalk" target="_blank" class="contact-icon">
                        <i class="fab fa-github" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/Asiri.Amal2339/" target="_blank" class="contact-icon">
                        <i class="fab fa-facebook-f"></i></a>
                    </li>
                </ul>
                </hr>
                <hr>
                {#        <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>#}
            </div>
        </div>
    </div>

</div>


