<link rel="stylesheet" href="/static/css/testimonial.css">

<div class="container" id="testimonial">
    <div class="customer-feedback">
        <div class="container text-center">
            <div class="row">
                <div class="type">
                    <div>
                        <h2 class="section-title-1">What Cli<span>ents Say</span></h2>
                    </div>
                </div><!-- /End col -->
            </div><!-- /End row -->

            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-offset-2">
                    <div class="owl-carousel feedback-slider">
                        {% for name in client_names %}
                            <div class="feedback-slider-item">
                                <img src="/static/assets/img/testimonial/{{ client_image[loop.index0] }}"
                                     class="center-block img-circle" alt="Customer Feedback">
                                <h3 class="customer-name">{{ name }}</h3>
                                <p>{{ client_feedback[loop.index0] }}</p>
                                <span class="light-bg customer-rating" data-rating="{{ client_rating[loop.index0] }}">
								{{ client_rating[loop.index0] }}
								<i class="fa fa-star"></i>
							</span>
                            </div>

                        {% endfor %}
                        <!-- /slider item -->

                    </div><!-- /End feedback-slider -->

                    <!-- side thumbnail -->
                    <div class="feedback-slider-thumb hidden-xs">
                        <div class="thumb-prev">
							<span>
								<img src="/static/assets/img/testimonial/{{ client_image[2] }}" alt="Customer Feedback">
							</span>
                            <span class="light-bg customer-rating">
								{{ client_rating[0] }}
								<i class="fa fa-star"></i>
							</span>
                        </div>

                        <div class="thumb-next">
							<span>
								<img src="/static/assets/img/testimonial/{{ client_image[1] }}" alt="Customer Feedback">
							</span>
                            <span class="light-bg customer-rating">
								{{ client_rating[2] }}
								<i class="fa fa-star"></i>
							</span>
                        </div>
                    </div>
                    <!-- /side thumbnail -->

                </div><!-- /End col -->
            </div><!-- /End row -->
        </div><!-- /End container -->
    </div><!-- /End customer-feedback -->

</div>
<!-- extra -->


<script src="/static/js/testimonial.js"></script>